# exclude temp and buffer files
*~

# simulation files
*.txt
estimated_log
codeword_log

# compilation tools files
transcript
*.wlf
work/

# emacs buffer files
*#

# Ignoring some folders
synthesis/*
tests/*